@charset "utf-8";
/* CSS Document */
:root {
	--cnvs-themecolor: #ed1c24;
	--cnvs-themecolor-rgb: 247, 194, 94;
	--cnvs-body-font: 'Heebo', sans-serif;
	--cnvs-secondary-font: 'PT Serif', serif;
	--cnvs-heading-color: #575757;
	--bs-primary-rgb:#575757;
	--bs-body-font-size: 1.0rem;
	--bs-body-line-height: 1.0;
}
.widget h4{
	padding-bottom:8px;
	
}
.entry-meta li {
    line-height: .8rem !important;
	margin-top:0px;
	padding-top:0px;
	
}
#posts,
.posts,
.entry,
[class*=entry-] {
  --cnvs-post-meta-fontsize: 90%;	
}
#logo img {
	max-height:40px;
}
.alert{
	font-size:1rem;
	font-weight:700;
}
.alertjoinstart{
	width:81%;
}
.alertjoinend{
	width:18%;
}
ul.homesubnav  {
    list-style-type: none;
}
ul.homesubnav li{
		display:inline;
}
.button.button-3d h1 {
color:#fff;
margin:0px;
}
.boxed-slider{
	padding:0px;
}
.content-wrap {
	padding-top:0px;
}
.overlay-x::before {
  content: '';
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}
.iconlist {
   --cnvs-iconlist-margin: 0rem;
}

@media (min-width: 576px) {

}
@media (max-width: 768px) {
.menu-link {
	font-size:1.5rem !important;
	border:none;
}
ul.homesubnav  {
    list-style-type: none;
	margin:auto;
	border:none;

}
.emphasis-title h1{
	font-size:1.5rem;
	font-weight:700 !important;
}	
.display-3 {
    font-size: calc(1.125rem + 3.3vw);
    font-weight: 300;
    line-height: 1.6 !important;
	}

.button.button-3d h1 {
color:#fff;
margin:0px;
}
		.coachth img{
	width: 60px !important;
	float: left;
	border-radius: 4px;
	display:block  !important;
	}	
}


@media (max-width: 992px) {
.alert{
	font-size:.8rem;
}
	.alertjoinstart{
	width:70%;
	padding:0px;
	margin:0px;
}
	.alertjoinend{
	width:29%;
	padding:10px 15px 10px 10px !important;
	margin:0px;
}

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.text-success {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

.text-info {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

.text-warning {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.text-black {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-body {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
}

.text-black-50 {
  --bs-text-opacity: 1;
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-body-secondary {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
}

.text-body-tertiary {
  --bs-text-opacity: 1;
  color: var(--bs-tertiary-color) !important;
}

.text-body-emphasis {
  --bs-text-opacity: 1;
  color: var(--bs-emphasis-color) !important;
}

.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}

.text-opacity-25 {
  --bs-text-opacity: 0.25;
}

.text-opacity-50 {
  --bs-text-opacity: 0.5;
}

.text-opacity-75 {
  --bs-text-opacity: 0.75;
}

.text-opacity-100 {
  --bs-text-opacity: 1;
}

.text-primary-emphasis {
  color: var(--bs-primary-text-emphasis) !important;
}

.text-secondary-emphasis {
  color: var(--bs-secondary-text-emphasis) !important;
}

.text-success-emphasis {
  color: var(--bs-success-text-emphasis) !important;
}

.text-info-emphasis {
  color: var(--bs-info-text-emphasis) !important;
}

.text-warning-emphasis {
  color: var(--bs-warning-text-emphasis) !important;
}

.text-danger-emphasis {
  color: var(--bs-danger-text-emphasis) !important;
}

.text-light-emphasis {
  color: var(--bs-light-text-emphasis) !important;
}

.text-dark-emphasis {
  color: var(--bs-dark-text-emphasis) !important;
}
ul.iconlist li{
	margin-top:8px !important;
}

